services:
  app:
    build: .
    container_name: backend-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    networks:
      - minha-rede-app

networks:
  minha-rede-app:
    external: true